In [1]:

from new_apri import PassOne, PassTwo, CreateCandidates, Apriori
from helper import GetItemsetFromFile, SaveDataToFile, CreateSupportList, SaveDataFrameToHTMLFile
from time import time
import pandas as pd
import numpy as np

In [2]:
baskets_data = [
  ['bear', 'apple'],
  ['bear', 'orange', 'onion'],
  ['apple', 'orange', 'onion'],
  ['bear', 'apple', 'orange'],
  ['bear', 'apple', 'orange'],
  ['apple', 'orange'],
  ['orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
  ['chicken', 'nugget', 'apple', 'orange'],
]

In [3]:
print("Running Apriori looking for pairs with support of 50%")
occ2, freq2 = Apriori(baskets_data, 0.5, 2)
print("Frequent Items: " + str(freq2))
print("Occurences Items: " + str(occ2) + "\n\n")

print("Running Apriori looking for triples with support of 50%")
freq = Apriori(baskets_data, 0.5, 3)
print("Frequent Items: " + str(freq) + "\n\n")
#print(freq)
#cand = CreateCandidates(freq, 2)

Running Apriori looking for pairs with support of 50%
Frequent Items: [('apple', 'orange'), ('chicken', 'nugget'), ('apple', 'chicken'), ('chicken', 'orange'), ('apple', 'nugget'), ('nugget', 'orange')]
Occurences Items: [11, 7, 7, 7, 7, 7]


Running Apriori looking for triples with support of 50%

In [4]:
testing = np.array([["hey",3],["bro",3],["man",1]])
test2 = np.array([7,7,7])
ok = np.asarray(list((zip(freq2,occ2))))
first = np.array([item[0] for item in ok[:,0]])
second = np.array([item[1] for item in ok[:,0]])
df2 = pd.DataFrame({'Item 1': first, 'Item 2': second, 'Occurences': ok[:,-1]})

In [5]:
df2

    Item 1   Item 2 Occurences
0    apple   orange         11
1  chicken   nugget          7
2    apple  chicken          7
3  chicken   orange          7
4    apple   nugget          7
5   nugget   orange          7